.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom single-line design scrollbar */
.scrollbar-line::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-line::-webkit-scrollbar-thumb {
  background-color: transparent; /* Transparent thumb for single line */
  border-right: 2px solid #4B5563; /* Single line on the right side */
  border-radius: 0; /* No rounding for a sharp line */
}

.scrollbar-line::-webkit-scrollbar-track {
  background-color: #E5E7EB; /* Track color */
}
